.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
    border-radius: 10px;
    background-color: #6B6ECC;
    background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  }
  
  .content {
    padding: 10px;
    width: 100%;
  }
  
  .password-container {
    position: relative;
    width: 100%;
  }
  
  #password {
    width: 100%;
  }

  .password-toggle {
    position: absolute; 
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .fa-eye {
    transition: transform 0.3s ease; 
  }
  
  .password-toggle.active .fa-eye {
    transform: rotateZ(180deg);
  }

  .class-button-form{
    width: 90%;
  }
 /* 
  button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
  } */

  .error{
    border: solid 1px red;
    color: red;
  }
  
  input::placeholder{
    color: aliceblue;
  }

  .error-hidden{
    display: none !important;
  }