<div class="flex justify-center">
  <h2 class="text-2xl font-bold tracking-tight text-gray-900 mt-10 mb-5">
    Listado de ultimos productos
  </h2> 
</div>
<div class="flex justify-around flex-wrap px-5">
  @for(product of products(); track $index){
    <div class="card my-5 p-5 rounded">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 xl:gap-x-8">
          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-60">
              <img srcset="http://localhost:3030{{product.image}}" alt="{{product.name}}" width="200" height="350" class="h-40 object-center object-contain">
            </div>
            <div class="flex justify-center">
              <h3 class="my-4 text-md text-gray-100"><strong>{{product.name}}</strong></h3>
            </div>
            
              <p class="text-sm font-medium text-gray-100">Precio: {{product.price - product.discount | toFixed | currency:'USD':'symbol':'1.0-0'}}</p>
             <!--  <div class="flex">
                <p class="text-sm font-medium text-gray-100 mr-1">Precio anterior: </p>
                <p class="text-sm font-medium text-gray-900 line-through">{{product.price | toFixed | currency:'USD':'symbol':'1.0-0'}}</p>
              </div> -->
<!--                 <p class="text-sm font-medium text-gray-900">Descuento: {{product.discount | toFixed | currency:'USD':'symbol':'1.0-0'}}</p> -->
<button
      class="w-full mt-5 lg:flex justify-center  text-[#0a0a0a] group-hover:text-[#eef0ea] items-center group-hover:bg-[#0a0a0a] bg-[#eef0ea] cursor-pointer py-2 px-4 text-sm font-semibold rounded-full"
    >
    <a href="" text-gray-100 [routerLink]="['/productDetail', product._id]">
      <span aria-hidden="true" class="absolute inset-0"></span>
      Detalles
    </a>
  </button> 
</div>
        </div>
      </div>
    </div>
  }
</div>
