@for(product of products(); track $index){
  <div class="bg-gray-100 p-10">
    <div class="p-10 card rounded">
      <!-- Image gallery -->
      <div class="mx-auto flex justify-center mt-6 w-full sm:px-6 lg:gap-x-8 lg:px-8">
        <div class="w-full rounded">
          <img src="http://localhost:3030{{product.image}}" alt="{{product.name}}" class="h-full w-full object-cover object-center rounded">
        </div>
      </div>
      <!-- Product info -->
      <div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
        <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <h1 class="text-3xl font-extrabold text-gray-100">{{product.name}}</h1>
        </div>
  
        <!-- Options -->
        <div class="mt-4 flex flex-col gap-5 lg:row-span-3 lg:mt-0">
          <h2 class="text-2xl font-extrabold text-gray-100">Precio del producto</h2>
          <p class="text-sm font-medium text-gray-100">Precio: {{product.price - product.discount | toFixed | currency:'USD':'symbol':'1.0-0'}}</p>
          <div class="flex">
             <p class="text-sm font-medium text-gray-100 mr-1">Precio anterior: </p>
             <p class="text-sm font-medium text-gray-100 line-through">{{product.price | toFixed | currency:'USD':'symbol':'1.0-0'}}</p>
           </div> 
     <p class="text-sm font-medium text-gray-100">Descuento: {{product.discount | toFixed | currency:'USD':'symbol':'1.0-0'}}</p>
        </div>
        <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
          <div class="mt-10">
            <h2 class="text-2xl font-extrabold text-gray-100">Detalles</h2>
            <div class="flex flex-col mt-4 space-y-6">
              <p class="text-sm text-gray-100">
                Descripción: {{product.description}}
               </p>
              <p class="text-sm text-gray-100">
                Aroma: {{product.smell}}
               </p>
               <p class="text-sm text-gray-100">
                Codigo: {{product.idCode}}
               </p>
               <p class="text-sm text-gray-100">
                Stock: {{product.stock}}
               </p>
               <p class="text-sm text-gray-100">
                Volumen: {{product.volume}}
               </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <button
        class="w-52 mt-5 flex justify-center  text-[#0a0a0a] group-hover:text-[#eef0ea] items-center group-hover:bg-[#0a0a0a] bg-[#eef0ea] cursor-pointer py-2 px-4 text-sm font-semibold rounded-full butn"
      >
      <a href="" text-gray-100 [routerLink]="['/cart/list/66294b01f65c3072bffcd23a']">
        <span aria-hidden="true" class="absolute"></span>
        Agregar al carrito <i class="text-[#0a0a0a] fa-solid fa-cart-shopping"></i>
      </a>
    </button> 
      </div>
      
    </div>
  </div>
}

