<div class="flex justify-center">
  <div class="cards">
    <div class="content">
      <div class="title flex justify-center">
        <img srcset="../../../../assets/images/logo/heroes_silenciosos.png" width="200" height="100"/>
      </div>
      <div
      class="w-full px-3 flex items-center mt-2 mb-5 font-semibold text-gray-500 flex-col">
    <input
    class="w-full p-2 mb-5 bg-blue-900 rounded-md border border-gray-700 focus:border-blue-700 hover:border-blue-500 transition-all duration-200"
    placeholder="Email"
    type="email"
    name="email"
    id=""
  />
  </div>
    </div>
    <button class="class-button-form cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg
    border-blue-600
    border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
    active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">
      Enviar
    </button>
      
      <a class="font-semibold text-white hover:text-blue-500 transition-all duration-200 mt-4"
        href="" [routerLink]="['/auth/signin']" >
        Volver al login
      </a>
  </div>
</div>
 


