@if(!headerHiddenAuth){
<footer class="footer-container py-4">
  <div class="flex flex-row justify-around items-center">
    <div class="flex flex-col items-center gap-2">
      <img
        srcset="../../../assets/images/logo/heroes_silenciosos.png"
        alt="Company logo"
        class="w-24 h-24 rounded-full"
      />
      <p class="text-gray-100 text-sm">
        Ahorra tiempo y esfuerzo, con la practicidad de Buon Aseo
      </p>
    </div>
    <div class="flex flex-col flex-wrap gap-4">
      <ul class="flex flex-col gap-4">
        <li>
          <a
            href="#"
            class="text-gray-100 hover:text-blue-500 transition-colors"
            >Termino y condiciones</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-gray-100 hover:text-blue-500 transition-colors"
            >Cuidamos tu privacidad</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-gray-100 hover:text-blue-500 transition-colors"
            >Hot Sale
          </a>
        </li>
        <li>
          <a
            href="#"
            class="text-gray-100 hover:text-blue-500 transition-colors"
            >Trabaja con nosotros</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-gray-100 hover:text-blue-500 transition-colors"
            >Ayuda</a
          >
        </li>
      </ul>
    </div>
    <div class="flex flex-row gap-4 justify-between">
      <ul class="flex flex-row gap-4">
        <li>
          <a
            href="#"
            class="text-gray-100 hover:text-blue-500 transition-colors"
          >
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="text-gray-100 hover:text-blue-500 transition-colors"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="text-gray-100 hover:text-blue-500 transition-colors"
          >
            <i class="fa-brands fa-pinterest"></i>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="text-gray-100 hover:text-blue-500 transition-colors"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="text-gray-100 hover:text-blue-500 transition-colors"
          >
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col justify-center gap-1 mt-5">
    <p class="text-gray-100 text-sm">
      © 2024 Matias Sabbadini, Inc. Todos los derechos reservados.
    </p>
    <p class="text-gray-100 text-sm">Avenida siempre viva 742, Springfield.</p>
  </div>
</footer>
}
